@for (tick of ticks; track tick) {
    <div class="tick"
        [class.major]="tick%5===0"
        [style.rotate.deg]="tick*6"
    ></div>
}

@if (mode()==='hour') {
    @for (label of hourLabels; track label.value) {
        <div class="label"
            [style.left.px]="label.x"
            [style.top.px]="label.y"
        >
            {{label.value}}
        </div>
    }
}@else {
    @for (label of minuteLabels; track label.value) {
        <div class="label"
            [style.left.px]="label.x"
            [style.top.px]="label.y"
        >
            {{label.value}}
        </div>
    }
}

<div class="hand" [style.--angle.deg]="handAngle()" 
    alarmDialEditor 
    [unit]="mode()" 
    (step)="dialStep.emit($event)" 
    (finished)="dialFinished.emit()">
    <span class="shaft"></span>
    <span class="knob">{{knobValue()}}</span>
</div>
