:host {
  display: block;
  position: relative;

  * {
    box-sizing: border-box;
  }
}

// item height = 40px
// wheel height = 200px
// whell center - 200 / 2 = 100
// item center - 40 / 2 = 20
// padding-block - 100 - 20 = 80

.wheel {
  block-size: var(--wheel-height);
  overflow-y: auto;
  padding-block: calc(var(--item-height) * 2);
  border-block: 4px solid green;

  perspective: 800px;
  scroll-snap-type: y mandatory;
  mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
}

.item {
  display: block;
  inline-size: 100%;
  block-size: var(--item-height);

  scroll-snap-align: center;
  // scroll-snap-stop: always;
  transform-style: preserve-3d;
  transition: transform 0.15s, opacity 0.15s;

  &.center {
    scale: 1;
    opacity: 1;
    font-weight: 700;
  }

  &.near-top,
  &.near-bottom {
    scale: 0.9;
    opacity: 0.8;
  }

  &.far-top,
  &.far-bottom {
    scale: 0.8;
    opacity: 0.4;
  }

  &.near-top {
    transform: rotateX(24deg) translateZ(-5px);
  }

  &.near-bottom {
    transform: rotateX(-24deg) translateZ(-5px);
  }

  &.far-top {
    transform: rotateX(36deg) translateZ(-10px);
  }

  &.far-bottom {
    transform: rotateX(-36deg) translateZ(-10px);
  }
}

.scrolling {
  transform: none !important;
  opacity: 0.9;
  scale: 0.96;
}

.selection-window {
  position: absolute;
  inset-inline: 0;
  inset-block-start: 50%;
  block-size: var(--item-height);
  translate: 0 -50%;
  border-block: 1px solid red;
  pointer-events: none;
}