<h2>
    <span [iconName]="facade.icon()" class="icon"></span>
    <span>{{facade.title()}}</span>
</h2>

<app-timer-panel 
    [face]="facade.preview" 
    [display]="facade.preview" 
    [controls]="facade.controls" 
    [disabled]="facade.dialogOpened()" />

@if (facade.appSettings(); as settings) {
<app-duration-picker />
}

<app-timer-settings />

<app-running-timer-list />

@if (facade.dialogOpened() && facade.activePreset(); as preset) {
<app-timer-finished-dialog
    [preset]="preset"
    (repeat)="facade.repeatInDialog()"
    (stop)="facade.stopInDialog()" />
}