<h2>
    <span [iconName]="facade.icon()" class="icon"></span>
    <span>{{facade.title()}}</span>
</h2>

<app-timer-face [engine]="facade.preview" />

<app-digital-display [engine]="facade.preview" />

<app-timer-controls [engine]="facade.controls" [disabled]="facade.dialogOpened()" />

@if (facade.appSettings(); as settings) {
<app-duration-picker />
}

<app-timer-settings />

<app-running-timer-list />

@if (facade.dialogOpened() && facade.activePreset(); as preset) {
<app-timer-finished-dialog
    [preset]="preset"
    (repeat)="facade.repeatInDialog()"
    (stop)="facade.stopInDialog()" />
}