<h2>
    <span [iconName]="facade.draft.icon()" class="icon"></span>
    <span>{{facade.draft.title()}}</span>
</h2>

<app-timer-panel 
    [timer]="facade.draft"
    [controls]="facade"
    [disabled]="facade.dialogOpened()" />

@if (facade.appSettings(); as settings) {
    <app-duration-picker />
}

<app-timer-settings />

<app-running-timer-list />

@if (facade.dialogOpened() && facade.draft.activePreset(); as preset) {
    <app-timer-finished-dialog
        [preset]="preset"
        (repeat)="facade.repeatInDialog()"
        (stop)="facade.stopInDialog()" />
}