<div class="editor">
    <input [value]="model().title" (input)="updateTitle($event)" placeholder="title" />

    <app-duration-picker
        [hours]="model().hours"
        [minutes]="model().minutes"
        [seconds]="model().seconds"
        (hoursChange)="setHours($event)"
        (minutesChange)="setMinutes($event)"
        (secondsChange)="setSeconds($event)" />

    <div class="icons">
        @for(icon of icons; track icon) {
            <button class="icon"
                [class.selected]="model().icon===icon"
                (click)="setIcon(icon)">
                {{icon}}
            </button>
        }
    </div>

    <div class="colors">
        @for (color of colors; track color) {
            <button class="color"
                [class.selected]="model().color===color"
                [style.background]="color"
                (click)="setColor(color)"
            ></button>
        }
    </div>

    <app-sound-picker [value]="model().sound" (valueChange)="setSound($event)" />

    <div class="buttons">
        <button (click)="save.emit(model())">save</button>
        <button (click)="cancel.emit()">cancel</button>
    </div>
</div>
