<svg class="chart" [attr.viewBox]="'0 0 ' + width() + ' ' + height()">
    <polygon class="area" [attr.fill]="'url(#'+gradientId+')'" [attr.points]="area()" />
    <polyline class="line-shadow" [attr.points]="polyline()" />
    <polyline #line class="line"  fill="none" [attr.points]="polyline()" />
    @for (line of [0,25,50,75,100]; track line) {
        <line class="grid"
            x1="8"
            [attr.y1]="height()-8-(height()-16)*(line/100)"
            [attr.x2]="width()-8"
            [attr.y2]="height()-8-(height()-16)*(line/100)" />
    }
    @for (point of renderPoints(); track point.label) {
        <line class="grid"
            [attr.x1]="point.currentX"
            y1="8"
            [attr.x2]="point.currentX"
            [attr.y2]="height()-8" />
    }
    @for (point of renderPoints(); track point.label) {
        <text class="label" [attr.x]="point.currentX" [attr.y]="height()-2">{{point.label}}</text>
    }
    @for (point of renderPoints(); track point.label) {
        <g class="hover-group">
            <circle class="hover" [attr.cx]="point.currentX" [attr.cy]="point.currentY" r="14" />
            @if (visiblePoints()[$index]) {
                <circle class="point" [attr.cx]="point.currentX" [attr.cy]="point.currentY" r="4" />
            }
            <text class="tooltip" [attr.x]="point.currentX" [attr.y]="point.currentY-8">{{point.value}}</text>
        </g>
    }
    <defs>
        <linearGradient [attr.id]="gradientId" x1="0" y1="0" x2="0" y2="1">
            <stop offset="0%" stop-color="#333" stop-opacity="0.45"></stop>
            <stop offset="100%" stop-color="#333" stop-opacity="0"></stop>
        </linearGradient>
    </defs>
</svg>
