<div class="dial">
    @for (label of secondLabels; track label.value) {
        <div class="second-label" [style.left.px]="label.x" [style.top.px]="label.y">{{label.value}}</div>
    }
    @for (tick of secondTicks; track tick) {
        <div class="second-tick" [class.major]="tick%5===0" [style.rotate]="`${tick*6}deg`"></div>
    }
    <div class="second-sector" [style.--angle.deg]="secondProgressAngle()"></div>
    @if (mode()==='editor') {
        <div class="second-handle" 
            [style.--angle.deg]="secondProgressAngle()" 
            timerDialEditor 
            unit="seconds" 
            (step)="dialChange($event)">
            <div class="knob"></div>
        </div>
    }

    <div class="minute-dial">
        @for (tick of minuteTicks; track tick) {
            <div class="minute-tick" [class.major]="tick%5===0" [style.rotate]="`${tick*6}deg`"></div>
        }
        @for (label of minuteLabels; track label.value) {
            <div class="minute-label" [style.left.px]="label.x" [style.top.px]="label.y">{{label.value}}</div>
        }
        <div class="minute-sector" [style.--angle.deg]="minuteProgressAngle()"></div>
        @if (mode()==='editor') {
            <div class="minute-handle" 
                [style.--angle.deg]="minuteProgressAngle()" 
                timerDialEditor 
                unit="minutes" 
                (step)="dialChange($event)">
                <div class="knob"></div>
            </div>
        }
    </div>
</div>
